@import url('header.css');
@import url('footer.css');
@import url('banner.css');
@import url('products.css');

#aboutBanner {
    background-color: #E1FF75;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

#aboutBanner h1 {
    font-size: 3rem;
    font-family: "Lato", serif;
    margin-bottom: 20px;
}

#aboutBanner h2 {
    font-size: 20px;
    font-weight: 300;
    font-family: "Lato", serif;
    margin-bottom: 20px;
}

#howStart {
    text-align: center;
    font-family: "Lato", serif;
}

#howStart h2 {
    font-weight: 400;
    margin: 20px auto;
    padding-top: 10px;
}
#howStart p {
    font-weight: 300;
}

#aboutContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 40px auto;
}
#aboutImage {
    width: 85%;
    height: auto;
    border-radius: 15px;
}
#textSide h2 {
    text-align: left;
    font-family: "Lato", serif;
    font-size: 36px;
    padding-left: 30px;
    color: #4d3400;
}
#textSide p {
    font-family: "Lato", serif;
    font-size: 20px;
    font-weight: 300;
    padding-left: 30px;
    padding-top: 10px;
    letter-spacing: .5px;
    line-height: 1.5;
}

#aboutpage2 {
    width: 85%;
    margin: 0 auto;
    border-top: solid rgb(212, 212, 212) .5px;
    text-align: center;
    padding-top: 20px;
    font-family: "Lato", serif;
}

#partners {
    font-family: "Lato", serif;
    margin-bottom: 20px;
    font-size: 48px;
    margin-top: 20px;
}
.hoverContainer {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    width: 100%;

}

.hoverImage {
    width: 100%;
    height: auto;
    max-height: 500px;
    border-radius: 20px;
    object-fit: cover;
}

.textOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: for a semi-transparent background */
    border-radius: 20px;
}

.hoverContainer:hover .textOverlay {
    opacity: 1;
}

.hoverText {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-weight: 400;
    padding: 20px;
}

.initialOverlay,
.hoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 66, 66, 0.363);
    color: rgb(255, 255, 255);
    transition: opacity 0.3s;
    border-radius: 20px;
    font-family: "Lato", serif;
    font-weight: 800;
    font-size: 36px;
}

.initialOverlay {
    opacity: 1;
}

.hoverOverlay {
    opacity: 0;
}

.hoverContainer:hover .initialOverlay {
    opacity: 0;
}

.hoverContainer:hover .hoverOverlay {
    opacity: 1;
}

#collaboratorText {
    text-align: center;
    width: 80%;
    margin: 30px auto;
}
#collaboratorText h4 {
    font-size: 30px;
    font-family: "Lato", serif;
    font-weight: 400;
}

#collaborators {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; /* Adjust gap between images if needed */
    width: 80%;
    max-width: 1200px; /* Optional: max-width to prevent too large a container on wide screens */
    margin: 40px auto; /* Center container horizontally */
}

#collaborators img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
}
@media (max-width: 1199px) and (min-width: 768px) {
    #collaborators img {
        max-height: 150px;
        flex: 1 1 150px; /* Medium-sized images on medium screens */
    }
}

/* Media query for small screens */
@media (max-width: 767px) {
    #collaborators img {
        max-height: 100px;
        flex: 1 1 100px; /* Smaller images on small screens */
    }
}

@media (max-width: 768px) {
    #aboutContent {
        grid-template-columns: 1fr;
    }
    #aboutimg, #textSide {
        justify-content: center;
        text-align: center;
    }
}