@import url('home.css');
@import url('header.css');
@import url('footer.css');

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap");


.advent-calendar {
    background-color: #f1f1f1;
    height: 115vh;
    /* background: url(../img/muscle.jpg); */
    /* background-size: cover; */
    min-height: 110vh;
    padding-top: 40px;
}

.recent-calendar h1 {
    color: #FFDD66;
    text-shadow: 0px 0px 20px #2d283e;
}

.recent-calendar h3 {
    color: #ffffff;
    text-shadow: 0px 0px 10px #ffffff;
}

.item h2 {
    color: #ab51f0;
    text-shadow: 0px 0px 20px #171717;
}

.item h3 {
    color: #ffffff;
    text-shadow: 0px 0px 10px #1a1a1a;
}

.item p {
    color: #ffffff;
}

.best_sellers{
    height: 115vh;
    background-color: #171717;
    min-height: 110vh;
    padding-top: 40px;

}





.next h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Alegreya Sans SC", sans-serif;
    letter-spacing: 3px;
    color: #333333;
}

.next p {
    text-align: center;
    color: #333;
    padding: 13px;
    font-weight: 400;
    line-height: 50px;
}

.next a p{
    margin-bottom: 50px;
}