@import url('header.css');
@import url('footer.css');
@import url('banner.css');
@import url('products.css');

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");


#mainDisplay {
    margin: 50px 10%;
    display: grid;
    grid-template-columns: 60% 40%;
}
#mainDisplay img {
    width: 60%;
    height: auto;
    align-items: center;
}
