@import url('header.css');
@import url('footer.css');
@import url('banner.css');
@import url('products.css');

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

.banner {
    margin: 80px;
    text-align: center;
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 4em;
}

p { 
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.advent-calendar {
    /* background-color: #f1f1f1; */
    height: 115vh;
    background: url(../img/muscle.jpg);
    background-size: cover;
    min-height: 110vh;
    padding-top: 40px;
}

.recent-calendar {
    text-align: center;
    padding: 5px;
}

.recent-calendar h1, .recent-calendar h3 {
    padding: 20px;
    text-align: center;
    position: static; 
    /* Ensure it is in normal flow */
    transform: none;
}
.recent-calendar h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    text-shadow: 0px 0px 10px #5f5f5f;

}
.recent-calendar h3 {
    font-family: "Lato", sans-serif;
    padding: 0;
    padding-bottom: 30px;
    color: #e1ff75;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 3px;
    text-shadow: 0px 0px 10px #5f5f5f;
    
}

.calendar_items { 
    align-items: flex-end;
    margin: 0 auto;
    bottom: 0;
    display: flex; /*수직 정렬*/
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 60px;
    padding-bottom: 30px;
}

.item {    
    /* float: left; */
    /* width: calc(30% - 40px); 아이템 정렬 */
    padding: 20px;
    /* margin: 10px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    text-align: center;
}

.item h2 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    font-size: 3em;
    text-shadow: 0px 0px 20px #000000;
}

.item h3 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    font-size: 2em;
    text-shadow: 0px 0px 20px #000000;
}

.item p {
    color: #ffffff;
    padding: 13px;
    font-weight: 700;
}


/* .grid-item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
} */

.item .buy-now-btn  {
    display: inline-block;
    padding:10px 15px;
    background-color: #914EC6;
    color: #ffffff;
    text-decoration: none;
    border-radius: 35px;
    margin-top: 20px;
}


.item .buy-now-btn:hover {
    background-color: #ba89df;
    color: #ffffff;
    transition: ease 0.3s;
}

/* .item h3 {
    text-align: center; 
    position: static; Ensure it is in normal flow 
     transform: none; 
} */

.item .img {
    filter: drop-shadow(0px 0px 10px #aeaeae); 
    border-radius: 15px;
    margin: 20px;
    border:1px solid #eaeaea;
}

    
.centered-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.reviews {
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    height: 100vh;
    background-size: cover;
    min-height: 90vh;
}

.reviews h1 {
    color: #120044;
}

.reviews p {
    font-weight: 800;
    color: #914EC6;
    font-family:"Lato", sans-serif;
    text-decoration: underline;
    padding-right: 130px;
    text-align: end;
}

.reviews p:hover {
    transition: ease 0.5s;
    color: #474747;
}

.stars {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.stars a {    
    align-self: flex-end;
    color: #ffcc00;
    font-size: 36px; /* 아이콘 크기 증가 */
    text-shadow: 0px 0px 50px #1f1f1f;
}

.star-2 a {
    margin: 20px;
    font-size: 66px; /* 아이콘 크기 증가 */
    text-shadow: 0px 0px 20px #000000;
}

.best_sellers{
    height: 115vh;
    background: url(../img/Stars.jpg);
    background-size: cover;
    min-height: 110vh;
    padding-top: 40px;

}
.best_sellers .recent-calendar h1 {
    color: #ffffff;
    text-shadow: 0px 0px 20px #000000;
}


.calendar_items {
    margin: 10px;
    margin-bottom: 50px;
}













