@import url('header.css');

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap");

.banner {
    margin: 80px;
    text-align: center;
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 4em;
}

p { 
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.recent-calendar h3  {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 3px;
}

.advent-calendar {
    background-color: #f1f1f1;
    height: 100vh;
    /* background: url(../img/bg.jpeg);
    background-size: cover; */
    min-height: 110vh;
    padding-top: 40px;
}

.recent-calendar {
    text-align: center;
    padding: 5px;
}

.recent-calendar h1, .recent-calendar h3 {
    padding: 20px;
    text-align: center;
    position: static; 
    /* Ensure it is in normal flow */
    transform: none;
}

.recent-calendar h3 {
    padding-bottom: 60px;
    font-weight: 700;
    font-style: normal;
    color: #b93434;
}

.calendar_items { 
    align-items: flex-end;
    margin: 0 auto;
    bottom: 0;
    display: flex; /*수직 정렬*/
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 60px;
    padding-bottom: 30px;
}

.item {    
    /* float: left; */
    /* width: calc(30% - 40px); 아이템 정렬 */
    padding: 20px;
    /* margin: 10px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    text-align: center;
}

.item h2 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 24px;
    color: #333;
    font-size: 3em;
}

.item h3 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 24px;
    color: #333;
    font-size: 2em;
}


.grid-item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.item .buy-now-btn {
    display: inline-block;
    padding:10px 15px;
    background-color: #b93434;
    color: #fff;
    text-decoration: none;
    border-radius: 35px;
    margin-top: 20px;
}

.item .buy-now-btn:hover {
    background-color: #333;
    transition: ease 0.3s;
}

/* .item h3 {
    text-align: center; 
    position: static; Ensure it is in normal flow 
     transform: none; 
} */

.item .img {
    border-radius: 15px;
    margin: 20px;
}

    
.centered-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.reviews {
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    height: 100vh;
    background-size: cover;
    min-height: 90vh;
}

.reviews p {
    font-family:"Lato", sans-serif;
    text-decoration: underline;
    padding-right: 130px;
    text-align: end;
}


/* 슬라이더 배너 */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  top: 10px;
  max-width: 100%;
  position: relative;
  margin: auto;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}









