@import url('header.css');
@import url('footer.css');
@import url('banner.css');
@import url('products.css');
/* @import url('displayproduct.css'); */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

.banner {
    margin: 80px;
    text-align: center;
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 4em;
}

p { 
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.advent-calendar {
    background-color: #ffffff;
    height: 105vh;
    /* background: url(../img/muscle.jpg);
    background-size: cover; */
    min-height: 105vh;
    padding-top: 40px;
}

.recent-calendar {
    text-align: center;
    padding: 5px;
}

.recent-calendar h1, .recent-calendar h3 {
    padding: 20px;
    text-align: center;
    position: static; 
    /* Ensure it is in normal flow */
    transform: none;
}
.recent-calendar h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    background-image: -webkit-linear-gradient(12deg,#ffd21f, #ff4089, #7cdcff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 8s infinite linear;
    /* text-shadow: 0px 0px 10px #5f5f5f; */

}

@-webkit-keyframes hue {
    0% {
      -webkit-filter: hue-rotate(0deg);
    }
    25% {
      -webkit-filter: hue-rotate(-120deg);
    }
    50% {
      -webkit-filter: hue-rotate(-240deg);
    }
    75% {
      -webkit-filter: hue-rotate(-360deg);
    }
  }
.recent-calendar h3 {
    font-family: "Lato", sans-serif;
    padding: 0;
    padding-bottom: 30px;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 3px;
    /* text-shadow: 0px 0px 10px #5f5f5f; */
    
}

.calendar_items { 
    align-items: flex-end;
    margin: 0 auto;
    bottom: 0;
    display: flex; /*수직 정렬*/
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 60px;
    padding-bottom: 0px;
}

.item {    
    /* float: left; */
    /* width: calc(30% - 40px); 아이템 정렬 */
    padding: 20px;
    /* margin: 10px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    text-align: center;
}

.item h2 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-align: center;
    font-size: 24px;
    color: #000000;
    font-size: 3em;
    /* text-shadow: 0px 0px 20px #000000; */
}

.item h3 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-align: center;
    font-size: 24px;
    color: #000000;
    font-size: 2em;
    /* text-shadow: 0px 0px 20px #000000; */
}

.item p {
    color: #000000;
    padding: 13px;
    font-weight: 700;
}


/* .grid-item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
} */

.item .buy-now-btn  {
    display: inline-block;
    padding:10px 15px;
    background: linear-gradient(-45deg, #ffd21f, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
    color: #ffffff;
    text-decoration: none;
    border-radius: 35px;
    margin-top: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.item .buy-now-btn:hover {
    background-color: #5c5c5c;
    color: #ffffff;
    transition: ease 0.3s;
}

/* .item h3 {
    text-align: center; 
    position: static; Ensure it is in normal flow 
     transform: none; 
} */

.item .img {
    width: 300px;
    filter: drop-shadow(0px 0px 10px #aeaeae); 
    border-radius: 20px;
    margin: 20px;
    border:1px solid #eaeaea;
}

    
.centered-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.our_reviews {
    border-top: solid rgb(212, 212, 212) .5px;
    padding: 20px;
}

.reviews{
    text-align: center;
    /* margin: 0 auto; */
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    /* height: 100vh; */
    /* background-size: cover; */
    /* min-height: 90vh; */
}

.reviews h1 {
    color: #000000;
}

.seeAll p{
    text-align: center;
    font-weight: 500;
    color: #000000;
    font-family:"Lato", sans-serif;
    text-decoration: underline;
    margin-top: 30px;
    /* padding-right: 100px; */
    /* text-align: end; */
}

.reviews p:hover {
    transition: ease 0.5s;
    color: #6e6e6e;
}

#aboutContent {
    border-top: solid rgb(212, 212, 212) .5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 70px auto;
    padding-top: 70px;
}

#aboutImage {
    width: 600px;
    height: 540px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 20px;
}

#textSide h2 {
    text-align: left;
    font-family: "Lato", serif;
    font-size: 36px;
    padding-left: 30px;
    color: #4d3400;
}

#textSide p {
    font-family: "Lato", serif;
    font-size: 20px;
    font-weight: 300;
    padding-left: 30px;
    padding-top: 20px;
    letter-spacing: .5px;
    line-height: 1.8;
}

.aboutContent img {
    width: 600px;
    height: 600px;

    
}

.best_sellers {
    border-top: solid rgb(212, 212, 212) .5px;
}

.stars {
    

    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.stars a {    
    align-self: flex-end;
    color: #000000;
    font-size: 36px; /* 아이콘 크기 증가 */
    /* text-shadow: 0px 0px 50px #1f1f1f; */
}

.star-2 a {
    margin: 50px;
    font-size: 66px; /* 아이콘 크기 증가 */
    /* text-shadow: 0px 0px 20px #000000; */
}

.best_sellers{
    height: 105vh;
    background-color: #ffffff;
    min-height: 105vh;
    padding-top: 40px;

}
.best_sellers .recent-calendar h1 {
    color: #000000;
    /* text-shadow: 0px 0px 20px #000000; */
}


.calendar_items {
    margin: 0px;
    margin-bottom: 0px;
}


.swiper {    
    text-align: center;
    width: 1000px;
    height: 470px;
    border:1px solid #000000;
    background-color: white;
    border-radius: 30px;
    filter: drop-shadow(0px 10px 10px #a4a4a4); 
    padding-bottom: 50px;
  }

.swiper-slide img {
    object-fit: cover;
    margin: 35px auto;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.swiper-slide h3 {
    font-family:"Lato", sans-serif;
    margin-top: 30px;
    line-height: 45px;
    margin: 30px 80px;
    text-align: center;
}
.swiper-slide p {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: rgb(188, 188, 188); 
    padding: 0 25px;
    width: 5px;
    height: 5px;
    
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    color: rgb(66, 66, 66);
    transition: 0.5s;
}

.swiper .swiper-pagination-bullet {
    background-color: black; 
}

.swiper .swiper-pagination {
    margin-bottom: 20px;
}











